iframe {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border: 1px solid #c9c9c9;
    border-bottom: none;
    padding: 5px 5px 5px 50px;
    background-color: #edeae0;
}

iframe:last-child {
    border-bottom: 1px solid #c9c9c9;
}

iframe.big {
    height: 60%;
}

button {
    background-color: #cd1818;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
}
