ignoreErrors:
	-
		sniff: Generic.PHP.ForbiddenFunctions.Found
		message: 'The use of function bdump() is forbidden'
		count: 1
		path: example/app/bin/tracy-service-test.php

	-
		sniff: Generic.PHP.ForbiddenFunctions.Found
		message: 'The use of function bdump() is forbidden'
		count: 1
		path: example/app/bin/tracy-test.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: example/app/src/Bootstrap.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $httpRequest.
		count: 1
		path: example/app/src/Presenters/ErrorPresenter.php

	-
		sniff: Generic.PHP.ForbiddenFunctions.Found
		message: 'The use of function bdump() is forbidden'
		count: 2
		path: example/app/src/Presenters/HomepagePresenter.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Bridges/Nette/TracyRemoteBarExtension.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $class.
		count: 1
		path: src/Bridges/Nette/TracyRemoteBarExtension.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Helper.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Remote.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Server/BarData.php

	-
		sniff: SlevomatCodingStandard.Variables.DisallowSuperGlobalVariable.DisallowedSuperGlobalVariable
		message: Use of super global variable is disallowed.
		count: 10
		path: src/Server/public/index.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Tracy/DevelopmentStrategy.php

	-
		sniff: SlevomatCodingStandard.Variables.DisallowSuperGlobalVariable.DisallowedSuperGlobalVariable
		message: Use of super global variable is disallowed.
		count: 1
		path: src/Tracy/DevelopmentStrategy.php

	-
		sniff: SlevomatCodingStandard.Variables.UnusedVariable.UnusedVariable
		message: Unused variable $async.
		count: 1
		path: src/Tracy/DevelopmentStrategy.php

	-
		sniff: SlevomatCodingStandard.Variables.UnusedVariable.UnusedVariable
		message: Unused variable $nonceAttr.
		count: 1
		path: src/Tracy/DevelopmentStrategy.php

	-
		sniff: SlevomatCodingStandard.Variables.UnusedVariable.UnusedVariable
		message: Unused variable $requestId.
		count: 1
		path: src/Tracy/DevelopmentStrategy.php

	-
		sniff: Generic.PHP.ForbiddenFunctions.Found
		message: 'The use of function bdump() is forbidden'
		count: 1
		path: tests/test-cli-request.php
