includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max

	excludePaths:
		- example/app/temp
		- example/app/vendor
		- tests/temp

	ignoreErrors:
		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: example/app/bin/tracy-service-test.php

		-
			message: '#^Function this_is_fatal_error not found\.$#'
			identifier: function.notFound
			count: 2
			path: example/app/src/Presenters/HomepagePresenter.php

		-
			message: '#^Property Forrest79\\TracyRemoteBar\\Server\\BarData\:\:\$data \(array\<int, string\>\) does not accept array\<mixed, mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Server/BarData.php
